.button {
    color: #aaa;
    display: block;
    text-align: center;
    width: 64px;
    height: 50px;
}

.button:hover,
.button:focus,
.button:active {
    color: #ddd;
}

.button span {
    width: 100%;
    height: 100%;
}
